.vscode/
# .github/
# .idea/
# interpreter bytecode
__pycache__/

# experiment results
runs/
videos/
logs
# weights
temp/

# evaluation tools folder
val_utils/

# zip files
*.zip

# exports
*_openvino_model
*.torchscript
# *.pt
*.onnx
*.engine

# interactive plots
*.html

#customer
assets/
time_summary*.txt